attrs==21.2.0
blis==0.2.4
certifi==2021.5.30
charset-normalizer==2.0.6
cPython==0.0.6
cymem==2.0.5
Cython==0.29.24
en-core-web-sm==2.1.0
idna==3.2
jsonschema==3.0.2
murmurhash==1.0.5
numpy==1.19.5
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
pymongo==3.12.0
pyrsistent==0.18.0
requests==2.26.0
six==1.16.0
spacy==2.1.4
srsly==1.0.5
thinc==7.0.8
tqdm==4.62.3
urllib3==1.26.7
wasabi==0.8.2
